$white-color: whitesmoke;
$black-color: #222;
$background-image: '../assets/images/start-background.jpeg';

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    min-height: 100vh;
    position: relative;
    /* para corregir colapso de bottom */
    padding-bottom: 0.1px;
}

p, h2 {
    margin-block-start: 0;
    margin-block-end:  0;
}

.heroHeader {
    background-image: url($background-image);
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    display: flex;
    flex: wrap;
    align-items: start;
    align-content: start;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.heroImage {
    height: 100vh;
    border: 1px solid;
    border-color: rgba(16, 16, 16, .1)
}

.mainLogo {
    padding-left: 20px;
    padding-top: 20px;
    width: 40vmin;
    max-width: 320px;
    min-width: 200px;
    max-height: 20vh;
    border-radius: 10px;

    &--small {
        padding: 0;
    width: 25vmin;
    max-width: 233px;
    }
}

.mainNav{
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1;
    color: whitesmoke;
    text-shadow: -2px 2px 0 rgba(16, 16, 16, .6);
    display: none;

    &--black {
        color: #2A255F;
        text-shadow: none;
    }

    &__navUL {
        list-style: none;
    }

    &__navLI {
        display: inline-block;
        margin: 5px 4px;
    }

    &__link {
        color: $white-color;
        font-weight: 500;
        font-size: 1.2rem;
        text-decoration: none;
    }

    &__link--black {
        color: var(--black-color);
    }
}

.mainTitleBundle {
    position: absolute;
    top: 50vh;
    left: 30vw;
}

.mainTitle {
    background-color: rgba(16, 16, 16, .5);
    color: #f5f5f5;
    font-size: 2rem;
    padding: 0.5rem 1rem;
}

.mainTitleOnWhite {
    color: #222;
    text-align: center;
    font-size: 2rem;
}

.tryForFreeButton {
    display: inline-block;
    background-color: aqua;
    padding: 15px 20px;
    border-radius: 2px;
    text-decoration: none;
    color: #222;
    font-size: 1.2rem;
    box-shadow: 2px 2px 10px -2px rgba(16, 16, 16, .5);

    &:hover {
        scale: 1.1;
    }
}

.indexMainTable {
    display: grid;
    width: 100vw;
    row-gap: 1rem;
    justify-items: center;
}

.halfTextHalfImage {

    &__text {
        padding: 1rem 1rem;
        width: 100vw;
        font-size: 1.5em;
    }

    &__image {
        border-radius: 10px 0 0 0;
        box-shadow: 5px 5px 10px 0px rgba(16, 16, 16, .5);
        width: 90vw;
    }
}

.screenWideFigure {
    display: flex;
    flex-direction: column;
    width: 100vw;

    &__img {
        width: 90vw;
    }

    &__caption {
        text-align: center;
    }
}

.centeredTitle {
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    margin-block-end: 0;
    margin-block-start: 0;
    width: 100vw;
}

.screenWideText {
    padding: 1rem 1rem;
    font-size: 1.5rem;
    width: 100vw;
}

.centerInlineItem {
    text-align: center;
    padding: 2rem 0;
    width: 100vw;
}

.columnFigures {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    &__oneThirdFigure {
        width: 65vw;
        text-align: center;
        min-width: 230px;
        padding-bottom: 1rem;
    }

    &__img {
        width: 100%;
        border-radius: 10px 10px 0 0;
        box-shadow: 5px 5px 10px 0px rgba(16, 16, 16, .5);
        margin-bottom: 5px;
    }

    &__oneThirdcaption {
        font-size: 1rem;
        font-weight: 700;
        padding-bottom: 1rem;
    }
}

/* Index Media Queries */
@media screen and (min-width: 720px) {
    .mainLogo {
        width: 30vmin;
    }
    .mainTitle {
        font-size: 3rem;
    }
    .mainNav {
        display: block;
    }
    .hamburgerIcon {
        display: none;
    }
    .indexMainTable {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
        'a b'
        'c c'
        'd d'
        'e e'
        'f f'
        'g g'
        'h h'
        'i i';
        width: 100vw;
    }
    .halfTextHalfImage__text {
        width: 100%;
        grid-area: a;
    }
    .halfTextHalfImage__image {
        width: 100%;
        grid-area: b;
    }
    .screenWideFigure__img {
        width: 100%;
        grid-area: c;
    }
    .gridHowToTry {
        grid-area: d;
    }
    .screenWideText {
        grid-area: e;
        width: 100%;
    }
    .centerInlineItem {
        grid-area: f;
    }
    .useCasesTitle {
        grid-area: g;
    }
    .useCasesColumnFigures {
        grid-area: h;
        width: 100%;
    }
    .footer {
        grid-area: i;
    }
    .centerInlineItem {
        padding: 3rem;
    }
    .columnFigures__oneThirdFigure {
        width: 25vw;
    }
}

@media screen and (min-width: 1400px) {
    .halfTextHalfImage__text {
        padding-left: 2rem;
        padding-right: 2rem;
        font-size: 2rem;
    }
    .screenWideText {
        padding-left: 2rem;
        padding-right: 2rem;
        font-size: 2rem;
    }
}

/* footer */

.lastItemBottomMargin {
    margin-bottom: 5rem;
}

.footer {
    background-color: #EEE;
    align-items: center;
    width: 100%;
    padding: 5px;
}

.bottomPosition {
    position: absolute;
    bottom: 0;
}

.footer__link {
    font-size: .8rem;
    font-weight: 700;
    color: #222;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.footer__icon {
    width: 20px;
    margin-right: 5px;
}

.footer__copyright {
    margin: 15px;
    font-size: 0.9rem;
    color: #222;
}

/* Plans & Pricing */
.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.ppMainTable {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        'pp_free_label pp_free_label'
        'pp_free_feature_1 pp_free_icon_1'
        'pp_free_feature_2 pp_free_icon_2'
        'pp_free_feature_3 pp_free_icon_3'
        'pp_free_price_row_header pp_free_price_label'
        'pp_free_button pp_free_button'
        'pp_premium_label pp_premium_label'
        'pp_premium_feature_1 pp_premium_icon_1'
        'pp_premium_feature_2 pp_premium_icon_2'
        'pp_premium_feature_3 pp_premium_icon_3'
        'pp_premium_price_row_header pp_premium_price_label'
        'pp_premium_button pp_premium_button'
        'pp_corporate_label pp_corporate_label'
        'pp_corporate_feature_1 pp_corporate_icon_1'
        'pp_corporate_feature_2 pp_corporate_icon_2'
        'pp_corporate_feature_3 pp_corporate_icon_3'
        'pp_corporate_price_row_header pp_corporate_price_label'
        'pp_corporate_button pp_corporate_button';
    justify-items: center;
    align-items: center;
    margin: 1rem 2rem;
    padding-right: 1rem;
    gap: 1rem;
    position: relative;
    padding-bottom: 1px;
    margin-bottom: 100px;
}

.pp_free_label {
    grid-area: pp_free_label;
    background-color: #ddd;
}
.pp_premium_label {
    grid-area: pp_premium_label;
    background-color: #f07e1c;
}
.pp_corporate_label {
    grid-area: pp_corporate_label;
    background-color: #444;
    color: whitesmoke;
}

.pp_free_feature_1 {
    grid-area: pp_free_feature_1;
}
.pp_free_feature_2 {
    grid-area: pp_free_feature_2;
}
.pp_free_feature_3 {
    grid-area: pp_free_feature_3;
}
.pp_premium_feature_1 {
    grid-area: pp_premium_feature_1;
}
.pp_premium_feature_2 {
    grid-area: pp_premium_feature_2;
}
.pp_premium_feature_3 {
    grid-area: pp_premium_feature_3;
}
.pp_corporate_feature_1 {
    grid-area: pp_corporate_feature_1;
}
.pp_corporate_feature_2 {
    grid-area: pp_corporate_feature_2;
}
.pp_corporate_feature_3 {
    grid-area: pp_corporate_feature_3;
}

.pp_free_icon_1 {
    grid-area: pp_free_icon_1;
}
.pp_free_icon_2 {
    grid-area: pp_free_icon_2;
}
.pp_free_icon_3 {
    grid-area: pp_free_icon_3;
}
.pp_premium_icon_1 {
    grid-area: pp_premium_icon_1;
}
.pp_premium_icon_2 {
    grid-area: pp_premium_icon_2;
}
.pp_premium_icon_3 {
    grid-area: pp_premium_icon_3;
}
.pp_corporate_icon_1 {
    grid-area: pp_corporate_icon_1;
}
.pp_corporate_icon_2 {
    grid-area: pp_corporate_icon_2;
}
.pp_corporate_icon_3 {
    grid-area: pp_corporate_icon_3;
}

.pp_free_price_row_header {
    grid-area: pp_free_price_row_header;
}
.pp_premium_price_row_header {
    grid-area: pp_premium_price_row_header;
}
.pp_corporate_price_row_header {
    grid-area: pp_corporate_price_row_header;
}

.pp_free_price_label {
    grid-area: pp_free_price_label;
}
.pp_premium_price_label {
    grid-area: pp_premium_price_label;
}
.pp_corporate_price_label {
    grid-area: pp_corporate_price_label;
}

.pp_free_button {
    grid-area: pp_free_button;
}
.pp_premium_button {
    grid-area: pp_premium_button;
}
.pp_corporate_button {
    grid-area: pp_corporate_button;
}

.tableOptionBundle__header {
    padding: 1rem 1rem;
    border: #EEE solid 1px;
    text-align: center;
    width: 100%;
    font-size: 1.2rem;
}

.tableOptionBundle__icon {
    display: block;
    width: 50px;
    margin: 15px;
}

.tableOptionBundle__price {
    display: block;
    margin: 25px;
}

.tableOptionBundle_actionButton {
    display: block;
    margin: 15px 0;
    text-align: center;
    width: 150px;
    background-color: aqua;
    padding: 15px 10px;
    border-radius: 2px;
    text-decoration: none;
    color: #222;
    font-size: 1rem;
    box-shadow: 2px 2px 10px -2px rgba(16, 16, 16, .5);
}

.tableOptionBundle_actionButton:hover {
    scale: 1.1;
}

/* Plans & Pricing Media Queries */
@media screen and (min-width: 720px){
    .mainLogo--small {
        padding-left: 1rem;
        padding-top: 1rem;
    }
    .hideOnBig {
        display: none;
    }
    .ppMainTable {
        grid-template-columns: 1.5fr repeat(3, 1fr);
        grid-template-areas:
        '. pp_free_label pp_premium_label pp_corporate_label'
        'pp_free_feature_1 pp_free_icon_1 pp_premium_icon_1 pp_corporate_icon_1'
        'pp_free_feature_2 pp_free_icon_2 pp_premium_icon_2 pp_corporate_icon_2'
        'pp_free_feature_3 pp_free_icon_3 pp_premium_icon_3 pp_corporate_icon_3'
        'pp_free_price_row_header pp_free_price_label pp_premium_price_label pp_corporate_price_label'
        '. pp_free_button pp_premium_button pp_corporate_button'
        ;
        column-gap: 5px;
        max-width: 1300px;
        margin-left: 15vw;
        margin-right: 15vw;
    }
}

@media screen and (min-width: 1400px){
    .tableOptionBundle__header {
        font-size: 1.5rem;
    }
    .tableOptionBundle_actionButton {
        margin: 15px 0;
        width: 170px;
        padding: 15px 20px;
        font-size: 1.2rem;
    }
}

/* FAQ */

.mainFAQ {
    flex-wrap: nowrap;
    justify-content: end;
}

.questionsSection {
    width: 50vw;
    max-width: 600px;
    padding-left: 50px;
}

.rightSection {
    width: 50vw;
    max-width: 600px;
    align-self: flex-end;
    margin-left: 15vw;
    margin-right: 20px;
}

.faqImg {
    width: 100%;
}

/* Try Register */

.grayBackground {
    background-color: rgba(251, 236, 202, .5)
}

.registerForm {
    margin-top: 15.2vmin;
    border: #222 2px solid;
    background-color: whitesmoke;
    margin-left: auto;
    margin-right: auto;
    width: 60vw;
    max-width: 700px;
    border-radius: 15px;
    padding: 2rem;
}

.registerForm__title {
    color: #222;
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
    font-size: 1.8rem;
    display: block;
}

.registerForm__form {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.registerForm__label {
    display: block;
    font-size: 1.2rem;
    margin-bottom: 5px;
}

.registerForm__input {
    width: 100%;
    font-size: 1rem;
    margin-bottom: 1rem;
}

.registerForm_actionButton {
    display: block;
    margin: 0 auto 1rem auto;
    text-align: center;
    width: 170px;
    background-color: rgb(255, 119, 0);
    padding: 15px 20px;
    border-radius: 2px;
    text-decoration: none;
    color: whitesmoke;
    font-size: 1.2rem;
    box-shadow: 2px 2px 10px -2px rgba(16, 16, 16, .5);
}


/* Contact Us */

.contact {
    display: flex;
    height: 100vh;
}

.contact__leftSection {
    margin: 5rem;
}

.contact__leftTitle {
    padding-top: 5rem;
}

.contact__rightSection {
    padding: 10rem 3rem 2rem 2rem;
    position: relative;
}

.contact__mainTitle {
    font-size: 3rem;
}

.contact__footer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-right: 15px;
}

/* Login */

.login__mainFlex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login__image {
    max-width: 35vw;
    margin-right: 50px;
}

.login__form {
    border: #222 solid 1px;
    border-radius: 15px;
    padding: 1.5rem;
}

.login_actionButton {
    display: block;
    margin: .5rem auto 0 auto;
    text-align: center;
    width: 170px;
    background-color: rgb(255, 119, 0);
    padding: 15px 20px;
    border-radius: 2px;
    text-decoration: none;
    color: whitesmoke;
    font-size: 1.2rem;
    box-shadow: 2px 2px 10px -2px rgba(16, 16, 16, .5);
}